backend/bin/
backend/out/
.gradle
backend/build/
.classpath
backend/.settings/
backend/.project
*.iws
*.ipr
.DS_Store
*~
.*sw[a-z]
*.pyc
*.bundle
backend/.idea/
*.idea_modules/
*.iml
backend/target/

# dependencies
frontend/node_modules

frontend/coverage

# production
frontend/build

